* {
	box-sizing: border-box;
	margin: 0;
}

.calculator-grid {
	display: grid;
	margin-top: 2rem;
	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
	justify-content: center;
}

.output {
	grid-column: 1 / -1;
	font-size: 5rem;
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
}
